<!DOCTYPE html>
<html>
<head>
    <title>Python Code Explainer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

    <h1>Python Code Explainer</h1>

    <form method="POST" enctype="multipart/form-data">

        <h3>Enter Python Code:</h3>
        <textarea name="code" rows="10" cols="80">{{ code }}</textarea>

        <br><br>

        <h3>Or Upload Python File:</h3>
        <input type="file" name="file">

        <br><br>

        <button type="submit">Explain Code</button>

    </form>

    <hr>

    <h2>Explanation:</h2>

    {% for item in explanation %}
        <h4>{{ item.line }}</h4>
        <p>{{ item.paragraph }}</p>
    {% endfor %}

</body>
</html>
